// body {
//   background: linen;
// }
.Portlet {
  width: 640px;
  height: 439.5px;
  background-color: #ffffff;
  box-shadow: 0 0.5px 7.5px 0 rgba(69, 65, 78, 0.08);
}
.Form-placeholder {
  width: 183px;
  height: 18.5px;
  opacity: 0.8;
  // border: solid 0.5px rgba(182, 179, 179, 0.349);
}
