.section_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Schedule-K-1 {
  width: 52.5px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3e4f;
}
.Form-1065 {
  width: 33px;
  height: 7px;
  font-family: Roboto;
  font-size: 6px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3e4f;
}
.Part-II-Information {
  width: 97px;
  height: 7px;
  font-family: Roboto;
  font-size: 6px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3e4f;
}
.Partners-Share-of-I {
  width: 206px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3e4f;
}

.Full-Name {
  width: 89.5px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962;
}
