.part3-content {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.part3-left {
  width: 213.3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.part3-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 7px;
  border: solid 0.5px #e5e7e9;

  .part3-items-number {
    padding-top: 5px;
    font-weight: 700;
    width: 20px;
    height: 90px;
    background-color: rgba(242, 243, 244, 0.5);
    // background-color: var(--pale-grey-50);
  }
  #input-16 {
    width: 20px;
    height: 183px;
    background-color: rgba(242, 243, 244, 0.5);
  }
  .part3-items-sub {
    padding: 5px;
    .Fill {
      margin-top: 5px;
      width: 183px;
      height: 18.5px;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 0.5px #525253;
    }
  }
}

.part3-bottom {
  width: 640px;
  height: 434.5px;
  background-color: #ffffff;
  box-shadow: 0 0.5px 7.5px 0 rgba(69, 65, 78, 0.08);
}
