.Portlet {
  width: 640px;
  height: 439.5px;
  background-color: #ffffff;
  box-shadow: 0 0.5px 7.5px 0 rgba(69, 65, 78, 0.08); }

.Form-placeholder {
  width: 183px;
  height: 18.5px;
  opacity: 0.8; }

.ctrl-btn {
  position: absolute;
  top: 10px;
  right: 10px; }

.link_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%; }

.Rectangle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 2.5px rgba(44, 62, 79, 0.1); }

.Rectangle:focus {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #1cbacf;
  border: solid 2.5px rgba(28, 186, 207, 0.1); }

.Rectangle:checked {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #2c3e4f;
  border: solid 2.5px rgba(44, 62, 79, 0.1); }

.section_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10.5px; }

.Schedule-K-1 {
  width: 52.5px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 9px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3e4f; }

.Form-1065 {
  width: 33px;
  height: 7px;
  font-family: Roboto;
  font-size: 6px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3e4f; }

.Part-II-Information {
  width: 97px;
  height: 7px;
  font-family: Roboto;
  font-size: 6px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3e4f; }

.Partners-Share-of-I {
  width: 206px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 9px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3e4f; }

.section_header_sub {
  border: solid 0.5px #e5e7e9; }

.layer {
  width: 23px;
  height: 23.5px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #2c3e4f; }

.layer2 {
  width: 23px;
  height: 23.5px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3e4f;
  -webkit-text-stroke: 0.5px #2c3e4f; }

.Full-Name {
  width: 89.5px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962; }

.item .Fill {
  width: 198px;
  height: 35.5px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 0.5px #ebedf2; }

.General-partner-or-L {
  width: 150px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962; }

.Limited-partner-or-o {
  width: 130px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962; }

.Radio {
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  background-color: #ffffff;
  border: solid 0.5px #dfe2ea; }

.Radio:checked {
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  background-color: #ffffff;
  border: solid 2px #1cbacf; }

.Domestic-partner {
  width: 80px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962; }

.Foreign-partner {
  width: 80px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962; }

.entity-box {
  margin-top: 7.5px;
  margin-bottom: 140px; }

.If-this-partner-is-a {
  width: 174.5px;
  height: 21px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962; }

.form-content {
  display: flex;
  flex-direction: row; }
  .form-content .form-right {
    margin-left: 10px; }

.Partners-share-of-p {
  width: 126.5px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962; }

.plc-box p {
  width: 15px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962;
  margin-right: 20px; }

.plc-box-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4.5px; }
  .plc-box-sub .Fill {
    width: 170px;
    height: 18.5px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 0.5px #c1c2c5;
    display: flex; }

.percentage {
  width: 5.5px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #17181a;
  margin: 5px; }

.liability-box p {
  width: 213.5px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962; }

.liability-box .liability-box-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8.5px; }
  .liability-box .liability-box-sub .Fill {
    width: 145px;
    height: 18.5px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 0.5px #a4a4a7;
    display: flex; }

.dollarSign {
  width: 4px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin: 4px; }

.capital-box p {
  width: 213.5px;
  height: 10.5px;
  font-family: Roboto;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #575962; }

.capital-box .capital-box-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px; }
  .capital-box .capital-box-sub .Fill {
    display: flex;
    width: 145px;
    height: 18.5px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 0.5px #ebedf2; }

.check-boxes {
  margin-top: 5px;
  font-size: 7px;
  color: #575962;
  display: flex;
  justify-content: space-between; }
  .check-boxes .check-boxes-sub {
    display: flex;
    align-items: center; }
    .check-boxes .check-boxes-sub input {
      width: 9px;
      height: 9px; }

.contribute-box {
  font-size: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px; }
  .contribute-box .contribute-box-sub {
    display: flex;
    align-items: center; }

.part2-content {
  margin-top: 5px;
  display: flex;
  flex-direction: row; }

.part2-left {
  width: 213.3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.part2-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 7px;
  border: solid 0.5px #e5e7e9; }
  .part2-items .part2-items-number {
    padding-top: 5px;
    font-weight: 700px;
    width: 20px;
    height: 40px;
    background-color: rgba(242, 243, 244, 0.5); }
  .part2-items #input-11 {
    width: 20px;
    height: 89px;
    background-color: rgba(242, 243, 244, 0.5); }
  .part2-items .part2-items-sub {
    padding: 5px; }
    .part2-items .part2-items-sub .Fill {
      margin-top: 5px;
      width: 183px;
      height: 18.5px;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 0.5px #525253; }

.part3-content {
  margin-top: 5px;
  display: flex;
  flex-direction: row; }

.part3-left {
  width: 213.3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.part3-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 7px;
  border: solid 0.5px #e5e7e9; }
  .part3-items .part3-items-number {
    padding-top: 5px;
    font-weight: 700;
    width: 20px;
    height: 90px;
    background-color: rgba(242, 243, 244, 0.5); }
  .part3-items #input-16 {
    width: 20px;
    height: 183px;
    background-color: rgba(242, 243, 244, 0.5); }
  .part3-items .part3-items-sub {
    padding: 5px; }
    .part3-items .part3-items-sub .Fill {
      margin-top: 5px;
      width: 183px;
      height: 18.5px;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 0.5px #525253; }

.part3-bottom {
  width: 640px;
  height: 434.5px;
  background-color: #ffffff;
  box-shadow: 0 0.5px 7.5px 0 rgba(69, 65, 78, 0.08); }
